.btn-1{
    // background-color: hsl(164, 95%, 43%, 0.1);
    padding: 8px 16px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    background-color: hsla(0, 0%, 0%, 0.1);
    transition: background-color 200ms ease-in-out;
    color: $black; 
}
.dark {
    .btn-2 {
        color: #fff;
        z-index: 10;
        .circle {
            background-color: hsl(0, 0%, 40%)
        }
    }

}
.btn-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .5s cubic-bezier(.77,0,.175,1);
  
    .circle {
      position: absolute;
      z-index: -1;
      top: 5;
      left: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: hsl(0, 0%, 80%);
      transition: all .5s cubic-bezier(.77,0,.175,1);
    }
  
    i {
      margin-left: 10px;
      transition: all .5s cubic-bezier(.77,0,.175,1);
    }
  
    &:hover {
      .circle {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid hsl(0, 0%, 69%);;
        border-radius: 10px;
      }
      i {
        margin-left: 15px;
      }
    }
}


.btn-3{
    padding: 25px 80px;
    background-color: #ffffff;
    color: #000 !important;
    border: 1px solid #000;
    display: inline-block;
    transition: all 200ms ease;
    cursor: pointer !important;
    font-weight: bold;
}
.btn-3:hover {
    background-color: hsl(0, 0%, 95%);
}



.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 36px;
    background: none;
    color: #17a2b8;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.back-to-top:hover {
    color: #06d69e;
}

.read-more-btn {
  display: none;
  color: #06d69e;
  text-decoration: underline;
  cursor: pointer;
}