.social-links{
    grid-column: 1 / span 3;
    width: 100%;
    height: 100%;
    font-family: 'SF Mono', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    @include d-flex(row, center, center);
    div {
        margin-right: 15px;
        a {
            position: relative;
        }
    }
    div a::after {
        content: "";
        display: block;
        position: absolute; /* Add position property to ::after */
        bottom: -5; /* Position underline at the bottom of a tag */
        width: 100%;
        height: 2px;
        background:
        linear-gradient(
        to right,
        #818181,
        #818181,
        #818181),
        linear-gradient(
        to right,
        #00f260,
        #0575e6);
        background-size: 100% 3px;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        transition: all 300ms;
    }
    a:hover::after {
        bottom: -9;
        background-size: 0 3px, 100% 3px;
    }
}

//? animation
.tagcloud {
    font-size: 20px;
    margin: auto;
    width: 50%;
}
.tagcloud--item:hover {
color: #36454F;
}