@import "../util/mixins";
@import "../util/colors";

#featured-projects {
    margin: 30px 0;
    padding: 0px 15px;
    .index {
        font: 1.5rem 'teko', sans-serif;
        font-weight: 400;
        position: relative;
        display: inline-block;
    }
    .index::after {
        content: "";
        position: absolute;
        background: black;
        bottom: -6px;
        left: 0;
        height: 3px;
        width: 100%; 
    }
}
.project-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/image-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    img {
        width: 100%;
        padding: 40px;
        border-radius: 50px;
    }
}
.project-item {
    b{font-size: 2rem;font-weight: 600;};
    column-gap: 10px;
    margin-bottom: 30px;

    // display grid
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    // make the grid overlap
    .a-1, .a-2, .b-1, .b-2 {
        grid-row: 1 / 2;
    }

    // layout
    .a-1 {
        grid-column: 1 / 8;
    }
    .a-2 {
        grid-column: 7 / -1;
        li {
            padding: 0px 0px 0px 10px;
        }
    }

    .b-1 {
        grid-column: 1 /  7;
        z-index: 2;
        li {
            padding: 0px 10px 0px 0px;
        }
    }
    .b-2 {
        grid-column: 6 / -1;
    }

    .project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .project-description {
        background-color: hsla(0, 0%, 100%, 0.9);
        padding: 20px 40px;
        border-radius: 10px;
        font-size: 1rem;
    }
    .project-tech {
        display: flex;
        flex-direction: row;
        padding: 0px;
        font-family: 'SF Mono', sans-serif;
        font-size: 1rem;
    }
    .project-links {
        a {
            font-size: 36px;
        }
    }
}
.txt-right {
    .project-links {
        display: flex;
        justify-content: flex-end;
        a {
            margin-left: 10px;
        }
    }
}

#noteworthy {
    padding: 15px;
    .cool-link {
        margin-bottom: 50px;
        font-family: 'SF Mono', sans-serif;
        font-size: 21px;
        font-weight: 400;
        text-align: center;
        a {
            position: relative;
        }
        a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5;
            width: 100%;
            height: 2px;
            background:
            linear-gradient(
            to right,
            #818181,
            #818181,
            #818181),
            linear-gradient(
            to right,
            #00f260,
            #0575e6);
            background-size: 100% 3px;
            background-position: 100% 100%;
            background-repeat: no-repeat;
            transition: all 300ms;
        }
        a:hover::after {
            bottom: -9;
            background-size: 0 3px, 100% 3px;
        }
    }
}
.github-projects-grid {
    list-style: none;
    padding: 0px;
    margin: 50px 10px 50px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 15px;
    position: relative;
}
.card {
    .card-icons {
        display: flex;
        justify-content: space-between;
        font-size: 32px;
    }
    .card-links {
        display: flex;
        font-size: 32px;
        a {
            margin-left: 10px;
        }
    }
    .card-footer {
        font-family: 'SF Mono', sans-serif;
        font-size: smaller;
        color: $gray;
        padding: 0px;
        margin: 0px;
        display: flex;
        li {
            padding: 0px 10px 0px 0px
        }
    }
    .card-link{
        display: flex;
        flex-direction: column;
        height: 75%;
        .card-footer {
            margin-top: auto;
        }
    }
    .fa-folder {
        color: $primaryColor;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    background: #fff;
    padding: 20px 30px;
    border-radius: 7px;
    min-height: 300px;
    box-shadow: 2px 2px 5px #ccc;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    &:hover {
        transform: translateY(-5px);
    }
}
